.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #2e6d5b;
  position: sticky;
  top: 0;
  z-index: 100;
}
/* #131921 */

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 80%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #289c45;
}

.header__optionLineOne {
  font-size: 10px;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 6px 11px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn:hover {
  background-color: #6c666d;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Category__item {
  cursor: pointer;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.Category__item:hover {
  opacity: 0.9;
  background-color: #dfd1e2;
}
